<div class="d-flex flex-column min-vh-100">
  <div class="container-fluid">
    <router-outlet></router-outlet>
    </div>
</div>


<!-- Footer -->
<footer class="bg-light my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; Grupo 3- Arquitectura de Computadoras y Ensambladores 2</p>
  <ul class="list-inline">
      <li class="list-inline-item"><a>Carlos Rodrigo Estrada Najarro 201700314,</a></li>
      <li class="list-inline-item"><a>José Francisco Puac Ixcamparic 201700342,</a></li>
      <li class="list-inline-item"><a>Luis Angel Vargas Leon 201701023,</a></li>
      <li class="list-inline-item"><a>Gabriela Elizabeth Zavala López 201701131</a></li>
  </ul>
</footer>