<app-barra></app-barra>

<div class="container p-4">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    Sugerencias
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-center">
                                <div
                                    class="card-header bg-light text-black d-flex justify-content-between align-items-center">
                                    Enfocar en mejorar la Tecnica
                                </div>
                                <div class="card-body">
                                    Este ejercicio es el que cuenta con peor eficiencia, sueles fallar mucho, enfocate en mejorar la tecnica.
                                    <img src={{PathGifs[eficienciaActual]}} class="img-fluid rounded mx-auto d-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card text-center">
                                <div
                                    class="card-header bg-light text-black d-flex justify-content-between align-items-center">
                                    Manten un ejercicio proporcional
                                </div>
                                <div class="card-body">
                                    Procura mantener un equilibrio en el trabajo de tus musculos, 
                                    este es el musculo con menor cantidad de repeticiones, intenta incrementar el ejercicio de este musculo:
                                    <img src={{PathGifs[menosRepsActual]}} class="img-fluid rounded mx-auto d-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card text-center">
                                <div
                                    class="card-header bg-light text-black d-flex justify-content-between align-items-center">
                                    Procura Ejercitarte al menos 3 dias por semana e hidratarte bien! 
                                </div>
                                <div class="card-body">
                                    Ejercitarse reduce los niveles de estres, brindando una mejor calidad de vida.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>